* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    background-image: url('../images/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100vh;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);

}

.header::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background: rgb(0, 147, 173);
    opacity: 0.8;
}


.header-section {
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

nav.navbar {
    padding: 0;
}

nav ul li a {
    font-family: 'Muli', sans-serif;
}

ul a:hover {
    color: #FBC02D !important;
}

nav li {
    text-align: center;
    text-transform: uppercase;
}

li>a:after {
    content: '';
    display: block;
    height: 1.5px;
    background: #FBC02D;
    transform: scaleX(0);
    transition: transform .3s;
}

li>a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}

.active {
    color: #FBC02D !important;
}

button a.headerlink {
    text-decoration: none;
}

svg {
    color: #60ccd8;
}

.extra-div h2 {
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
    font-family: 'Muli', sans-serif;

}

.header-extradiv {
    width: 100%;
    height: auto;
    margin: 100px 0;
}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 50px !important;
    transition: 0.3s;
    text-align: center;

}

button .container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #60ccd8;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 576px) {
    li>a:after {
        display: none;

    }
}